.carta {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    transition: transform 0.3s ease-in-out;
}

.carta:hover {
    transform: scale(1.1);
    transform: rotate(-5deg);
}

.contenido {
    background-color: orange;
    height: 300px;
    width: 200px;
    border-radius: 10px;
    border: 1px solid black;

    display: flex;
    flex-direction: column;
    gap: 30px;

    box-shadow: 0 0 10px black;
}

.titulo {
    position: relative;
    top: 10px;
    text-align: center;
    border: 1px solid black;
    border-radius: 6px;
    background-color: rgb(250, 106, 106);
    width: 100px;
    height: 20px;
    margin: auto;
    font-weight: bold;
}

img {
    top: 20px;
    left: 25%;
    position: relative;
    height: 100px;

    filter: drop-shadow(0 0 2px black);
}

ul li {
    list-style: none;
    font-size: 10px;
    font-weight: bold;

}

ul {
    margin: 0;
    padding: 20px;
}